* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(78, 10, 143);
}

h2 {
    font-size: 30px;  
}

img {
    width: 20px;
    height: 20px;
    margin: auto;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-color: rgb(133, 240, 213);
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 90vh;
    margin: auto;

    background-color: rgb(165, 73, 251);
}

.flip-card {
    background-color: transparent;
    width: 65vw;
    height: 125px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    

    transition: transform 2s ease;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner { 
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 109, 255);
    color: rgb(78, 10, 143)
}

.flip-card-back {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: rotateY(180deg);
    background-color: rgb(78, 10, 143);
    color: rgb(133, 240, 213);
}

.numbers-container, .buttons-container {
    display: flex;
    flex-direction: row;
}

.tool {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: rgb(184, 109, 255);
}

.tool div {
    margin: 2px;
}

.sign {
    display: flex;
    justify-content: center;

    width: 30px;
    height: 30px;
    
    border-radius: 100%; 
    background-color: rgb(165, 73, 251);
    border: 1px solid rgb(78, 10, 143);
}

.sign:hover {
    background-color: rgb(133, 240, 213);
    border: 1px solid rgba(133, 240, 213, 0.7);
}

.number {
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 20px;
    color: rgb(48, 4, 88);
    background-color: rgb(184, 109, 255);
}

.pause {
    display: none;
}

.pause-active {
    display: flex;
}

.play-active {
    display: none;
}

.setTime > h2 {
    font-size: 15px;

    width: 60px;
    text-align: center;
    color: rgb(48, 4, 88);
    background-color: rgb(184, 109, 255);
    border: 1px solid rgb(78, 10, 143);
}

.setTime > h2:hover {
    color: rgb(133, 240, 213);
    border: 1px solid rgba(133, 240, 213, 0.7);
}

#setTime-container {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
}

#setTime-container h2 {
    cursor: pointer;
}




